@inherits LayoutComponentBase
@inject NavigationManager Nav
@using VarejoCLIENT.Services
@inject AuthService AuthService

<div class="page @(isDarkMode ? "dark-theme" : "")" data-theme="@(isDarkMode ? "dark" : "light")">
    @if (Nav.Uri.ToLower().EndsWith("/login") || !AuthService.IsAutenticado)
    {
        <div class="login-centered-container">
            @Body
        </div>
    }
    else
    {
        @* BOTÃO FAB: Mobile *@
        <button class="menu-fab-btn" @onclick="ToggleMenu">
            <i class="fa-solid @(collapseNavMenu ? "fa-bars-staggered" : "fa-xmark")"></i>
        </button>

        <div class="sidebar-overlay @(collapseNavMenu ? "" : "show")" @onclick="ToggleMenu"></div>

        <aside class="sidebar-varejo @(collapseNavMenu ? "collapsed" : "")">
            @* Passamos o método ToggleDarkMode e o estado isDarkMode para o NavMenu *@
            <NavMenu OnMenuItemClicked="ToggleMenu" OnThemeToggle="ToggleDarkMode" IsDarkMode="isDarkMode" />
        </aside>

        <main class="main-content">
            @Body
        </main>
    }
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isDarkMode = false;

    private void ToggleMenu() => collapseNavMenu = !collapseNavMenu;
    private void ToggleDarkMode() => isDarkMode = !isDarkMode;

    protected override void OnInitialized()
    {
        if (!AuthService.IsAutenticado && !Nav.Uri.ToLower().Contains("/login"))
            Nav.NavigateTo("login");
    }
}