@model IEnumerable<Varejo.ViewModels.PessoaViewModel>

@{
	ViewData["Title"] = "Pessoas";
}

<h2>@ViewData["Title"]</h2>

<h3>Lista de Pessoas</h3>

<p>
	<a asp-action="Create" class="btn btn-primary">Criar Nova Pessoa</a>
</p>
<div class="table-responsive" style="border-radius: 12px; overflow: hidden;">

	<table class="w-100">
		<thead>
			<tr class="text-center">
				<th>#</th>
				<th>Nome</th>
				<th>CPF/CNPJ</th>
				<th>Telefone</th>
				<th>Email</th>
				<th>Ativo</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var pessoa in Model)
			{
				<tr class="text-center">
					<td data-label="ID">@pessoa.IdPessoa</td>
					<td data-label="Nome">@pessoa.NomeRazao</td>
					<td data-label="CPF/CNPJ">@pessoa.CpfCnpj</td>
					<td data-label="Telefone">@($"({pessoa.Ddd}) {pessoa.Telefone}")</td>
					<td data-label="Email">@pessoa.Email</td>
					<td data-label="Ativo">@(pessoa.Ativo ? "✅" : "❌")</td>
					<td data-label="Ações">
						<a asp-action="Details" asp-route-id="@pessoa.IdPessoa" class="btn btn-sm btn-info">Detalhes</a>
						<a asp-action="Edit" asp-route-id="@pessoa.IdPessoa" class="btn btn-sm btn-warning">Editar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>