@model IEnumerable<Varejo.ViewModels.PessoaViewModel>

@{
    ViewData["Title"] = "Pessoas";
}

<h2>@ViewData["Title"]</h2>

<h3>Lista de Pessoas</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova Pessoa</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>#</th>
            <th>Nome</th>
            <th>CPF/CNPJ</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Ativo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pessoa in Model)
        {
            <tr class="text-center">
                <td>@pessoa.IdPessoa</td>
                <td>@pessoa.NomeRazao</td>
                <td>@pessoa.CpfCnpj</td>
                <td>@pessoa.Telefone</td>
                <td>@pessoa.Email</td>
                <td>@(pessoa.Ativo ? "✅" : "❌")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@pessoa.IdPessoa" class="btn btn-sm btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@pessoa.IdPessoa" class="btn btn-sm btn-warning">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
