@model IEnumerable<Varejo.Models.Usuario>

@{
	ViewData["Title"] = "Usuários Ativos";
}

<h2 class="mb-4">@ViewData["Title"]</h2>


<div class="mb-3">
	<a class="btn btn-primary me-2" asp-action="Create">Novo Usuário</a>
	<a class="btn btn-secondary" asp-action="Inativos">Usuários Inativos</a>
</div>
<div class="table-responsive" style="border-radius: 12px; overflow: hidden;">
	<table class="w-100">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nome</th>
				<th scope="col">Ativo</th>
				<th scope="col">ID da Pessoa</th>
				<th scope="col">Tipo de Usuário</th>
				<th scope="col">Ações</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var usuario in Model.Where(u => u.Ativo))
			{
				<tr>
					<td data-label="ID">@usuario.IdUsuario</td>
					<td data-label="Usuário">@usuario.nomeUsuario</td>
					<td data-label="Status">
						@if (usuario.Ativo)
						{
							<span class="badge bg-success">Ativo</span>
						}
						else
						{
							<span class="badge bg-danger">Inativo</span>
						}
					</td>
					<td data-label="Pessoa ID">@usuario.PessoaId</td>
					<td data-label="Tipo Usuário">@(usuario.TipoUsuario?.DescricaoTipoUsuario ?? "-")</td>
					<td data-label="Ações">
						<a class="btn btn-info btn-sm" asp-controller="Pessoa" asp-action="Details" asp-route-id="@usuario.PessoaId">Ver Pessoa</a>
						<a class="btn btn-warning btn-sm me-1" asp-action="Edit" asp-route-id="@usuario.IdUsuario">Editar</a>
						<a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@usuario.IdUsuario">Excluir</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

