@model IEnumerable<Varejo.ViewModels.MarcaViewModel>

@{
    ViewData["Title"] = "Marcas";
}

<h2>Marcas</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Nova Marca</a>
</p>

<div class="table-responsive" style="border-radius: 12px; overflow: hidden;">
<table class="w-100">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome da Marca</th>
            <th>Quantidade de Familias</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
                <tr>
                    <td data-label="ID">@categoria.IdMarca</td>
                    <td data-label="Marca">@categoria.NomeMarca</td>
                    <td data-label="Quantidade de Famílias">@categoria.QuantidadeFamilia</td>
                    <td data-label="Ações">
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@categoria.IdMarca">Detalhes</a>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@categoria.IdMarca">Editar</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@categoria.IdMarca">Excluir</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
</div>